frameset, body {
/*	background-color: #fffdf4;*/
	background-color: #333333;
}

html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 5px;
	margin: 0;
	background-color: #333333;
	color: #DDDDDD;
}

table.centered td {
	text-align: center;
}

input, select {
	font: 12px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	background-color: #555555;
	color: #DDDDDD;
}

select {
	min-width: 140px;
}

* html select {
	width: 250px;
}

input:focus
{
	background-color: #000000;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #DDDDDD;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

.normalmenu {
	background-color: #DDDDDD;
	text-align: center;
	font-weight: bold;
	padding: 1px;
}

.normalmenu a {
	color: #0945b5;
}

.normalmenu:hover {
	border: 1px dashed blue;
	padding: 0px;
	background-color: #DDDDDD;
	text-align: center;
	font-weight: bold;
}

.normalmenu a:hover {
	color: #0c5ef5;
}

.selectedmenu {
	background-color: #FFFDDD;
	text-align: center;
	font-size: 14px;
	border: 2px dotted blue;
	font-weight: bold;
	color: #0945b5;
}

.selectedmenu:hover {
	color: #0c5ef5;
}

.selectedmenu a {
	color: #0945b5;
}

.selectedmenu a:hover {
	color: #0c5ef5;
}

#servername {
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}

body#topmenu {
	background-color: #222222;
	color: #DDDDDD;
	padding-top: 6px;
	padding-right: 5px
}

body#topmenu .normalmenu {
	width: 13em;
	text-align: center;
	padding: 2px;
}

body#topmenu .normalmenu:hover {
	width: 13em;
	text-align: center;
	padding: 1px;
	border: 1px dashed blue;
}

body#topmenu .selectedmenu {
	font-size: 13px;
	width: 13em;
	text-align: center;
}

body#leftmenu {
	background-color: #666666;
	padding-top: 10px;
}

body#leftmenu select {
	max-width: 190px;
}

* html body#leftmenu select {
	width: 170px;
}

#welcome {
	font-size: 24px;
}

#author {
	font-size: 15px;
}

#status {
	font-size: 14px;
}

.apps {
	font-size: 14px;
}

body#consolelog {
	font-family: sans-serif, Courier, 'Courier New';
	font-size: 12px;
	background-color: #333333;
	color: #DDDDDD;
}

img.flag {
	position: relative; bottom: -0.15em;
	margin-right: 0.2em;
	height: 1em;
}